In [ ]:
# List:

#1. Write a Python program to sum all the items in a list.
# 2. Write a Python program to multiply all the items in a list.
# 3. Write a Python program to get the largest number from a list.
# 4. Write a Python program to get the smallest number from a list.

In [8]:
#1. Write a Python program to sum all the items in a list.
sum=[20,50,10,20]
total=0
for i in sum:
    total =total+i
print("Sum of all the items",total)

Sum of all the items 100

In [14]:
# 2. Write a Python program to multiply all the items in a list.
num=[2,4,3]
res=1
for i in num:
    res=res*i
print("Multiply all the items",mul)

Multiply all the items 24

In [26]:
# 3. Write a Python program to get the largest number from a list.
num=[10,30,40,70,35,90,30]
res=num[0]
for i in num:
    if i>res:
        res=i
print("Largest number is the list",res)

Largest number is the list 90

In [27]:
# Write a Python program to get the smallest number from a list
num=[10,30,40,70,35,90,30]
res=num[0]
for i in num:
    if i<res:
        res=i
print("Smallest number is the list",res)

Smallest number is the list 10

In [ ]:
# 1. Write a Python program to create a tuple.
# 2. Write a Python program to create a tuple with different data types.
# 3 .Write a Python program to create a tuple of numbers and print one item.
# 4. Write a Python program to unpack a tuple into several variables.
# 5. Write a Python program to add an item to a tuple.
# 6. Write a Python program to convert a tuple to a string.
# 7. Write a Python program to get the 4th element from the last element of a tuple.
# 8. Write a Python program to create the colon of a tuple.

In [31]:
# 1 Write a Python program to create a tuple.
Iplteams=("RCB","KKR","CSK","RR","DC","GT","LSG","PBK")
print(Iplteams)

('RCB', 'KKR', 'CSK', 'RR', 'DC', 'GT', 'LSG', 'PBK')

In [39]:
 # 2 Write a Python program to create a tuple with different data types.
tuple=(10,20.50,"Python",True,[10,20,30])
print("Tuple with different data types:",tuple)
print(type(tuple))

Tuple with different data types: (10, 20.5, 'Python', True, [10, 20, 30])
<class 'tuple'>

In [45]:
# 3 Write a Python program to create a tuple of numbers and print one item.
num=(10,20,40,50,60,70,80)
print("One item is ",num[4])

One item is  60

In [47]:
# 4. Write a Python program to unpack a tuple into several variables.
t=(10,20,30)

a,b,c=t
print("a",a)
print("b",b)
print("c",c)

a 10
b 20
c 30

In [61]:
 #5. Write a Python program to add an item to a tuple.
f1=("Pineapple","Apple","Watermelon","Kiwi")
f2=("Banana","Grapes","Orange")
res=f1+f2

print("updated the tuple",res)

updated the tuple ('Pineapple', 'Apple', 'Watermelon', 'Kiwi', 'Banana', 'Grapes', 'Orange')

In [64]:
# Write a Python program to convert a tuple to a string.
fav=('B','i','r','y','a','n','i')
print(fav)
str="".join(fav)
print("String is: ",str)

('B', 'i', 'r', 'y', 'a', 'n', 'i')
String is:  Biryani

In [66]:
#7. Write a Python program to get the 4th element from the last element of a tuple.
num=(90,20,33,45,60,120,230,450)
print(num)
print(num[4:])

(90, 20, 33, 45, 60, 120, 230, 450)
(60, 120, 230, 450)

In [70]:
# 8. Write a Python program to create the colon of a tuple.
n=(90,20,33,45,60,120,230,450)
print(n[:])

(90, 20, 33, 45, 60, 120, 230, 450)

In [ ]:
# 1. Write a Python program to create a set.
# 2. Write a Python program to iterate over sets
# 3. Write a Python program to add member(s) to a set.
# 4. Write a Python program to remove item(s) from a given set.
# 5. Write a Python program to create an intersection of sets.
# 6. Write a Python program to find the maximum and minimum values in a set.

In [7]:
# 1. Write a Python program to create a set.
player={"Virat Kohli","MS Dhoni","Dewald Brevis","Phil Salt","Travis Head","Jacob bethell","AB Devilliers"}
print(player)
print(type(player))
print(len(player))

{'Virat Kohli', 'Travis Head', 'Dewald Brevis', 'Jacob bethell', 'AB Devilliers', 'Phil Salt', 'MS Dhoni'}
<class 'set'>
7

In [34]:
# Write a Python program to iterate over sets
num={10,20,30,40}
for i in num:
    print(i)

40
10
20
30

In [14]:
 # 3. Write a Python program to add member(s) to a set.
bowler={"Boomrah","Shami","Bolt","Jacob duffy","Strac","Rabada"}
print(bowler)
bowler.add("Sohaib malik")
print("Updated sets :",bowler)

{'Strac', 'Rabada', 'Jacob duffy', 'Boomrah', 'Bolt', 'Shami'}
Updated sets : {'Strac', 'Sohaib malik', 'Rabada', 'Jacob duffy', 'Boomrah', 'Bolt', 'Shami'}

In [1]:
# Write a Python program to remove item(s) from a given set.
fav={"Chicken biryani","Chicken Curry","Fish Curry","Litti Choka","Dosa"}
print(fav);
fav.remove("Chicken Curry")
print("Updated sets :",fav)

{'Fish Curry', 'Litti Choka', 'Chicken biryani', 'Chicken Curry', 'Dosa'}
Updated sets : {'Fish Curry', 'Litti Choka', 'Chicken biryani', 'Dosa'}

In [43]:
# 5. Write a Python program to create an intersection of sets.
a={10,20,30,40,50,60}
b={50,32,40,10,60,120}

s=a.intersection(b)
print("Intersection of the two sets :",s)

Intersection of the two sets {40, 50, 10, 60}

In [2]:
 # Write a Python program to find the maximum and minimum values in a set.
num={10,30,40,5,45,90,120,150}

max_value=max(num)
min_value=min(num)

print("Maximum value is ",max_value)
print("Minimum value is ",min_value)

Maximum value is  150
Minimum value is  5